h1 {
  color: Blue;
  text-align: center;
  text-transform: capitalize;
}
h2 {
  color: purple;
  font-style: italic;
  text-align: center;
}
p {
  font-family: cursive;
  color: inherit;
}
ol {
  line-height: 50px
}
strong {
  font-style: italic;
}
em {
  font-weight: bold;
}
